@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Six+Caps&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(243, 191, 177, 0.625);
  font-family: "Poppins", sans-serif;
  color: rgb(212, 50, 50);
  font-size: 100%;
}

button {
  color: rgb(212, 50, 50);
  outline: none;
  background-color: rgba(243, 191, 177);
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  letter-spacing: 3px;
  text-align: center;
  border: 2px solid rgb(212, 50, 50);
  transition: .25s 
}

button:hover {
  color: white;
  border: 2px solid white;
  box-shadow: white 0px 0px 45px 0px;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
  text-align: center;
}

.mainTitle {
  font-size: 3.5em;
  letter-spacing: 3px;
  text-align: center;
  border-bottom: 1px solid rgba(212, 50, 50, 0.237);
}

.sectionTitle {
  border-bottom: 1px solid rgba(212, 50, 50, 0.237);
  margin-bottom: 5px;
  letter-spacing: 3px;
  color: rgb(212, 50, 50);
}

/* HOME */
.homeContainer {
  margin-top: -50px;
  animation: 1.5s fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nameLogo {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 25px 0 25px;
}

.name h1 {
  font-family: "Six Caps", sans-serif;
  font-size: 15em;
  letter-spacing: 3px;
}

.bigletter {
  font-family: "Six Caps", sans-serif;
  letter-spacing: 3px;
  font-size: 35em;
}

.homeDetails {
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.5em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.downArrow {
  margin-top: 25px;
  animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* NAVBAR */

.headerContainer {
  width: 100%;
  background-color: rgb(243, 191, 177);
  display: flex;
  flex-flow: row nowrap;
}

.header {
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.navNameLogo {
  float: left;
  margin-left: 50px;
  align-self: center;
}

.header h1 {
  font-family: "Six Caps", sans-serif;
  letter-spacing: 3px;
  float: left;
  padding-top: 50px;
}

.navBigLetter {
  font-family: "Six Caps", sans-serif;
  font-size: 8em;
  letter-spacing: 3px;
  float: left;
  padding-left: 10px;
}

.navContainer {
  width: 15%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.nav_link {
  text-decoration: none;
  padding: 3px;
}

.nav_link:hover {
  color: white;
  border-bottom: 0.5px solid white;
}

.active {
  border-bottom: 1px solid white;
  color: white;
}

/* ABOUT */

.about {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.hello {
  font-size: 3.5em;
  letter-spacing: 3px;
  text-align: center;
}

.aboutContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}

.selfContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.self {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 5px 10px 18px white;
}

.start {
  font-size: 0.75em;
}

.iconLine {
  height: 194px;
  margin-top: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
}

.aboutParagraphs {
  width: 30%;
  /* min-width: 300px; */
  padding: 25px;
  text-align: left;
  flex-grow: 2;
}

.aboutParagraphs p {
  padding-bottom: 25px;
  letter-spacing: 1px;
  color: black;
}

/* PROJECTS */
.projects {
  margin-top: 75px;
}

.projectsContainer {
  width: 100%;
  height: auto;
}

.projectSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 3px;
  padding: 0 40px 0 40px;
}

.project {
  height: 425px;
  width: 425px;
  margin: 50px;
  box-shadow: rgba(251, 193, 193, 0.372) 0px 1px 1px 0px inset, rgba(177, 104, 104, 0.25) 0px 50px 100px -20px, rgba(114, 46, 46, 0.3) 0px 30px 60px -30px;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.projectImg {
  height: 85%;
  width: 85%;
  border-radius: 50%;
}

.projectImg:hover {
  opacity: 50%;
}

.overlay {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  background: rgba(243, 191, 177, 0.90);
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  padding: 25px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: black;
}

.overlay div {
  margin: 3%;
}

.project:hover .overlay {
  opacity: 1;
}

/* SKILL STACK */
.skills {
  margin-top: 100px;
}

.skillsContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.iconSkills {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  width: 75%;
}

.iconSkills li{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 75px 0 20px 0;
  flex-basis: 25%;
}

.icon {
  flex-basis: 25%;
  font-size: 50px;
}

li p{
  font-size: 15px;
}

.icon:hover{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CONNECT */

.connect {
  margin-top: 100px;
}

.connectContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connectList {
  margin: 15px 0 30px 0;
  letter-spacing: 3px;
  font-size: 20px;
}

.connectList li{
  margin-top: 15px;
}

.connectList a {
  text-decoration: none;
  color: rgb(212, 50, 50);
  transition: .5s ease-in-out;
}

.connectList a:hover {
  border-bottom: 2px solid white;
  color: white;
}

/* FOOTER */
.footerContainer {
  background-color: rgb(243, 191, 177);
  font-size: 15px;
  letter-spacing: 3px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

.footerContainer p {
  margin-left: 10px;
}

@media screen and (max-width: 600px){
  .iconSkills li {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 75px 0 20px 0;
    flex-basis: 50%
  }

  .project {
    height: 350px;
    width: 350px;
    font-size: small;
    margin: 15px;
  }

  .iconLine {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
    margin: 50px 0 15px 0;
    justify-content: space-evenly;
    align-items: center;
  }

  .aboutParagraphs {
    flex-flow: row wrap;
    flex-grow: 1;
    width: 75%;
  }

  .name{
    margin: 0 5px 0 5px;
    height: 450px;
  }

  .name h1 {
    font-size: 5em;
  }

  .bigletter {
    font-size: 25em;
  }

  .footerContainer{
    font-size: x-small;
  }
}

@media screen and (max-width: 400px){
  .project {
    height: 250px;
    width: 250px;
    font-size: small;
    margin: 15px;
  }
}