@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Six+Caps&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(243, 191, 177, 0.625);
  font-family: "Poppins", sans-serif;
}

button {
  color: rgb(212, 50, 50);
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  letter-spacing: 3px;
  text-align: center;
  border: 1px solid rgb(212, 50, 50);
}


button:hover {
  color: white;
  border: 1px solid white;
}

ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

li {
  padding: 5px;
  text-align: center;
}

.navIcon {
  font-size: 25px;
}

.homeContainer {
  margin-top: 0px;
  margin-bottom: 100px;
}

.nameLogo {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0;
}

.name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: center;
  padding-left: 50px;
}

.name h1 {
  padding-top: 215px;
  font-family: "Six Caps", sans-serif;
  font-size: 10em;
  letter-spacing: 3px;
  color: rgb(212, 50, 50);
}

.bigletter {
  font-family: "Six Caps", sans-serif;
  letter-spacing: 3px;
  color: rgb(212, 50, 50);
  font-size: 30em;
  height: 550px;
}

.homeDetails {
  width: 100%;
  text-align: center;
  color: rgb(212, 50, 50);
  letter-spacing: 3px;
  margin-top: 15px;
  font-size: 1.5em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  background-color: rgb(243, 191, 177);
  color: rgb(212, 50, 50);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
  position: fixed;
}

.footerContainer a {
  color: rgb(212, 50, 50);
}

/* NavBar CSS */

.headerContainer {
  width: 100%;
  background-color: rgb(243, 191, 177);
  display: flex;
  flex-flow: row nowrap;
}

.header {
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.navNameLogo {
  float: left;
  margin-left: 50px;
  align-self: center;
}

.header h1 {
  font-family: "Six Caps", sans-serif;
  letter-spacing: 3px;
  color: rgb(212, 50, 50);
  float: left;
  padding-top: 50px;
}

.navBigLetter {
  font-family: "Six Caps", sans-serif;
  font-size: 7em;
  letter-spacing: 3px;
  color: rgb(212, 50, 50);
  float: left;
  padding-left: 10px;
}

.navContainer {
  width: 15%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.nav_link {
  text-decoration: none;
  color: rgb(212, 50, 50);
  padding: 3px;
}

.nav_link:hover {
  color: white;
  border-bottom: 0.5px solid white;
}

.active {
  border-bottom: 1px solid white;
  color: white;
}


/* ABOUT */

.aboutContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: 25px;
  margin-bottom: 100px;
}

.selfContainer{
  
}

.aboutContainer h1{
  color: rgb(212, 50, 50);
  text-align: center;
}

.aboutParagraphs {

}

.self {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}